* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, blue, purple);
    background-repeat: no-repeat;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.container {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 50px grey;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
header h1 {
    font-size: 25px;
    margin-bottom: ;
}
header p {
    color: grey;
    font-size: smaller;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid grey;
    border-radius: 5px;
}
.submit-btn {
    padding: 8px 16px;
    background-color: rgb(100, 100, 248);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}
/*
.submit-btn:hover {
    opacity: 0.9;
}
input:valid,textarea:valid, select:valid {
    border-color: green;
}
input:invalid,textarea:invalid, select:invalid {
    border-color: red;
}
textarea {
    resize: none;
}
input[type= "text"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
    font-size: 14px;
    border-color: rgb(107, 107, 213);
}