* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, rgb(55, 55, 255) 0%, purple 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 50px grey;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
header p {
  color: rgba(128, 128, 128, 0.835);
  font-size: smaller;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.597);
  outline: none;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  border: 1px solid blue;
}

.submit-btn {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.submit-btn:hover {
  opacity: 0.7;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border-color: rgb(233, 14, 32);
}
input:valid:not(:placeholder-shown),
textarea:valid:not(:placeholder-shown) {
  border-color: rgb(0, 255, 34);
}

textarea{
    resize:none
}